 *, *:before, *:after {
 	box-sizing:  border-box !important;
 }


.row-fluid {
 -moz-column-width: 10em;
 -webkit-column-width: 25em;
 -moz-column-gap: .5em;
 -webkit-column-gap: .5em; 
  
}

.panel {
 display: inline-block;
 margin:  .5em;
 padding:  0; 
 width:98%;
}
