<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Loklak Twitter Wall</title>
		<meta name="description" content="Loklak Twitter Wall" />
		<meta name="keywords" content="Loklak twitter wall" />
		<meta name="author" content="twitterWall" />
		<link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/demo.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/component.css')}}" />
		<script src="{{url_for('static', filename='js/modernizr.custom.js')}}"></script>
	</head>
	<body onload="getTweets()">
		<div class="container">
			<div id="grid-gallery" class="grid-gallery">
				<div class="wall">

				</div>
			</div>
		</div>
		<script src="{{url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/masonry.pkgd.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/classie.js')}}"></script>
		<script src="{{url_for('static', filename='js/cbpGridGallery.js')}}"></script>
		<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>
			function getTweets() {
				$.ajax({
					url: "http://192.168.1.7:5000/ajax/wall/{{name}}",
					dataType: "json",
					async: false,
					success: function (data) {
						console.log(data);
						for (i=0; i<data.statuses.length; i++) {
							var unshiftValue = "<section class=\"grid-wrap\">";
							unshiftValue += "<ul class=\"grid\">";
							unshiftValue += "<li class=\"grid-sizer\">";
							unshiftValue += "</li>";
							unshiftValue += "<figure>";
							unshiftValue += "<img src=\" "+data.statuses[i].user.profile_image_url_https+ "\" alt=\"\" >";
							unshiftValue += "<figcaption>";
							unshiftValue += "<p>";
							unshiftValue += "<h3>";
							unshiftValue += data.statuses[i].user.screen_name;
							unshiftValue += "</h3>";
							unshiftValue += data.statuses[i].text;
							unshiftValue += "</p>";
							unshiftValue += "</figcaption>";
							unshiftValue += "</li>";
							unshiftValue += "</ul>";
							unshiftValue += "</section>";
							$('.wall').append(unshiftValue);
						}
					}
				});
				new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
			}
			setInterval( getTweets, 30000 );
		</script>
	</body>
</html>
